@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/*========== Colors ==========*/
	--purple: #9a42c1;
	--light-purple: #f9f4fa;
	--dark-purple: #341635;
	--white: #fff;
	--light-gray: #9d949f;
	--dark-gray: #7c7c7c;
	--line-gray: hsla(0, 0%, 85%, .92);
	--background-purple: #ebbeff;
	--heading-purple: hsla(298, 41%, 15%, 0.83);
	--heading-active: hsl(298, 41%, 15%);
	--purple-text: hsla(282, 81%, 22%, 0.66);
}


/*=============== BASE ===============*/
body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: var(--background-purple);

	position: relative;
	/* temporary property */
}

a {
	text-decoration: none;
}

body>*:not(.template) {
	/* opacity: .5; */
}

/*=============== TEMPORARY TEMPLATE ===============*/
.template {
	display: block;
	display:none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 669px;
	max-width: 327px;
	background: grey;
	background: url('../../design/mobile-design_template.png');
	background-repeat: no-repeat;
	z-index: -2;

}

/*=============== MAIN ===============*/
header {
	display: block;
	width: 100%;
	height: 25vh;
	max-height: 320px;
	background-color: var(--dark-purple);
	background-image: url('./../images/background-pattern-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	background: var(--light-purple);
	width: 87%;
	margin: -8.5vh auto;
	padding: 25px 1.5rem;
	border-radius: 12px;
}


/*=============== TITLE ===============*/
.title-wrapper {
	display: flex;
	column-gap: 22px;
	align-items: center;
}

.title-wrapper h1 {
	font-size: 32px;
	letter-spacing: -.24px;
}

.title-wrapper .title-icon img {
	width: 25px;
}

.first-row {
	display: flex;
	margin-top: 22px;
	cursor: pointer;
}



.first-row h3 {
	width: 80%;
	font-weight: 600;
	font-size: 17px;
	color: var(--heading-purple);
	letter-spacing: -.5px;
	transition: color .3s;
}

.first-row:hover h3{
	color: var(--purple);
}

.icon {
	width: 20%;
	display: flex;
	justify-content: right;
	align-items: center;
}


/* figure */
.accordion {
	border-bottom: 2px solid var(--light-gray);
}

.accordion:last-child{
	border-bottom: none;
}

.accordion.open .answer {
	height: 100%;
	display: block;
}

.answer-content {
	margin-top: 1.25rem;
	overflow: hidden;
}

.answer {
	display: none;
	padding-bottom: 1rem;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 600;
	color: var(--purple-text);
	height: 0;

}


/*=============== FOOTER ===============*/
.attribution {
	display: none;
}


/*=============== MEDIA QUERIES ===============*/
/* DESKTOP SCREEN */
@media screen and (min-width: 768px) {

	.template {
		background: url('../../design/desktop-design_template.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 100vw;
		max-width: 600px;
		height: 732px;
		left: 50%;
		top: 0;
		transform: translateX(-50%);
	}

	header {
		height: 42vh;
	}

	.container {
		width: 85%;
		max-width: 600px;
		margin: -9.5rem auto;
		padding: 46px 2.5rem 2.5rem 2.5rem;
	}

	.title-wrapper {
		column-gap: 20px;
	}

	.title-wrapper h1 {
		font-size: 56px;
		margin-top: -9px;
	}

	.title-wrapper .title-icon img {
		width: 42px;
	}

	.questions {
		margin-top: 2.5rem;
	}

	.first-row {
		margin-top: 20px;
	}

	.first-row h3 {
		letter-spacing: .05px;
		width: 90%;
	}

	.icon {
		width: 10%;
	}

	.answer-content {
		margin-top: 1.25rem;
		text-align: justify;
	}

	.answer {
		font-size: 16px;
		line-height: 1.4;
		font-weight: 400;
		padding-bottom: 1.5rem;
	}

}
