@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/*========== Colors ==========*/
	--purple: #9a42c1;
	--light-purple: #f9f4fa;
	--dark-purple: #341635;
	--white: #fff;
	--light-gray: #9d949f;
	--dark-gray: #7c7c7c;
	--line-gray: hsla(0, 0%, 85%, .92);
	--background-purple: #ebbeff;
	--heading-purple: hsla(298, 41%, 15%, 0.83);
	--heading-active: hsl(298, 41%, 15%);
	--purple-text: hsla(282, 81%, 22%, 0.66);
}


/*=============== BASE ===============*/
body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: var(--background-purple);
}

a {
	text-decoration: none;
}


/*=============== MAIN ===============*/
header {
	display: block;
	width: 100%;
	height: 30vh;
	max-height: 320px;
	background-color: var(--dark-purple);
	background-image: url('./../images/background-pattern-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	background: var(--light-purple);
	width: 87%;
	margin: -10vh auto;
	padding: 30px 1.5rem;
	border-radius: 12px;
}


/*=============== TITLE ===============*/
.title-wrapper {
	display: flex;
	column-gap: 20px;
	align-items: center;
	margin-bottom: 12px;
}

.title-wrapper h1 {
	font-size: 32px;
	letter-spacing: -.24px;
}

.first-row {
	display: flex;
}

.first-row h3 {
	width: 80%;
	font-weight: 600;
	font-size: 17px;
	color: var(--heading-purple);
}

.icon {
	width: 20%
}

.icon {
	display: flex;
	justify-content: right;
	align-items: center;
}


/* figure */
.accordion {
	border-bottom: 2px solid var(--light-gray);
}

.accordion.open .answer {
	/* height: 100%; */
}

.answer-content {
	overflow: hidden;
}

.answer {
	font-size: 17px;
	font-weight: 600;
	color: var(--purple-text);
	height: 0;
}


/*=============== FOOTER ===============*/
.attribution {
	display: none;
}


/*=============== MEDIA QUERIES ===============*/
@media screen and (min-width: 768px) {
	.container {
		width: 85%;
	}
}
